body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
.left-container {
  flex: 1;
  display: flex;
  background-color: #121212;
  margin: 0.3rem;
  flex-direction: column;
  border-radius: 0.5rem;
  min-width: 19rem;
  height: 78.5vh;
}
.playlist img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
}
.playlist strong {
  display: block;
}
.playlist {
  overflow-y: auto;
  display: flex;
  color: white;
  padding: 0.4rem 0.6rem;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.playlist:hover {
  background-color: #1f1f1f;
  border-radius: 0.3rem;
}
.bookcase i {
  display: none;
}
.bookcase span {
  margin: 1.5rem;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}
.create {
  display: flex;
  font-weight: bold;
  margin: 1rem;
  margin-left: 3vw;
  padding: 0.3rem 1rem;
  gap: 0.3rem;
  border-radius: 2rem;
  border: 1px solid #2a2a2a;
  background-color: #2a2a2a;
  cursor: pointer;
}
.create:hover {
  background-color: #434242;
}
.left-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.left-title i {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
.create i {
  margin-top: 0.08rem;
  margin-right: 0.3rem;
  display: inline;
}
.upper {
  color: #797777;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  display: inline-block;
  margin: 0.5rem 1.3rem;
  cursor: pointer;
}
.search:hover {
  color: whitesmoke;
}
.last-played {
  margin: 0.6rem;
  margin-right: 1.3rem;
  cursor: pointer;
}
.last-played:hover {
  color: whitesmoke;
}
.scroll-area {
  flex: 1;
  overflow-y: scroll;
  height: 62vh;
}
.scroll-area::-webkit-scrollbar {
  width: 0.3rem;
}
.scroll-area::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}
.left-nav {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 3.5rem;
}
.left-nav::-webkit-scrollbar {
  height: 0.3rem;
}

.left-nav::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}
.left-nav a {
  color: white;
  display: inline-flex;
  flex-direction: row;
  border-radius: 2rem;
  border: 1px solid #2a2a2a;
  background-color: #2a2a2a;
  padding: 1rem 0.6rem;
  margin: 0.5rem 0.5rem;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  height: 0.5rem;
  text-decoration: none;
}
.left-nav a:hover {
  background-color: #333333;
}
.top-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  height: 4rem;
}
.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-center {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.top-right {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.spotify {
  color: white;
  font-size: 2rem;
  margin: 0.6rem;
  cursor: pointer;
}
.home {
  color: #afafaf;
  border-radius: 50%;
  background-color: #2a2a2a;
  padding: 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.home:hover {
  background-color: #4d4d4d;
  color: whitesmoke;
}
.search-bar input {
  padding: 1rem;
  color: whitesmoke;
  border: none;
  background-color: #2a2a2a;
  border-radius: 2rem;
  font-size: 1rem;
  outline: none;
}
.search-bar i {
  color: #afafaf;
  font-size: 1.3rem;
  padding: 0.6rem;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #2a2a2a;
  border-radius: 2rem;
  background-color: #2a2a2a;
  padding: 0 0.5rem;
  width: 28rem;
  cursor: pointer;
}
.notification,
.friends {
  color: #afafaf;
  font-size: 1rem;
  cursor: pointer;
}
.notification:hover {
  color: white;
}
.friends:hover {
  color: white;
}
.profile img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.right-container {
  flex: 3;
  height: 78.5vh;
  margin: 0.3rem;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: #39181f;
  overflow-y: scroll;
  overflow-x: hidden;
}
.right-container::-webkit-scrollbar {
  width: 0.3rem;
}
.right-container::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 0.6rem;
}
.recent {
  display: flex;
  height: 8.1rem;
  color: white;
  gap: 0.6rem;
  flex-wrap: wrap;
  margin-left: 2.5rem;
  flex-direction: row;
}
.pop,
.metal,
.manifest-songs,
.rüya,
.liked-songs,
.candan-ercetin,
.astrology,
.rest {
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #64474d;
  border: 1px solid #64474d;
  width: 16vw;
  height: 3rem;
  padding: 0;
}
.recent img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.recent div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.category {
  display: flex;
  color: white;
  flex-direction: row;
  height: 2.5rem;
  margin: 1rem 3vw;
  gap: 1vw;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 2;
  position: sticky;
  top: 1rem;
}
.category span {
  padding: 0.6rem;
  width: 3rem;
  border-radius: 1.3rem;
  background-color: #4c3035;
  border: none;
  text-align: center;
  cursor: pointer;
}
.category span:hover {
  background-color: #64474d;
}
.category .podcast {
  width: 5rem;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.recommended {
  display: flex;
  flex-direction: row;
  color: #9d9d9d;
  margin-top: 0;
  margin-left: 2.5rem;
  font-size: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 70vw;
}
.recommended img {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 0.3rem;
}
h3 {
  display: inline-block;
  margin-left: 2.5rem;
  color: white;
  width: bold;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}
h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.recommended div {
  width: 16rem;
  height: 14rem;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.3rem;
}
.recommended div:hover {
  background-color: #64474d;
  border-radius: 0.3rem;
  padding: 0.6rem;
  padding-right: 1.3rem;
}
.recommended::-webkit-scrollbar {
  height: 0.3rem;
}
.recommended::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 0.6rem;
}
.nostalgia {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-left: 2.5rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 70vw;
  font-size: 1rem;
  color: #9d9d9d;
}
.nostalgia img {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 0.3rem;
}
.nostalgia::-webkit-scrollbar {
  height: 0.3rem;
}
.nostalgia::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 0.6rem;
}
.nostalgia div {
  width: 10rem;
  height: 14rem;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.3rem;
}
.nostalgia div:hover {
  background-color: #64474d;
  border-radius: 0.3rem;
  padding: 0.6rem;
  padding-right: 1.3rem;
}
.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  color: whitesmoke;
  z-index: 10;
  align-items: center;
  bottom: 0;
  background-color: black;
}
.player-left {
  display: flex;
  font-size: 1rem;
  align-items: center;
}
.player-left i {
  margin-left: 2rem;
  padding: 0.1rem;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 0.5rem;
}
.player-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.player-center {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.keys {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.player small {
  display: block;
  color: #797777;
}
.player img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.player-bar {
  width: 35vw;
  height: 0.3rem;
  border-radius: 0.3rem;
  background-color: #333333;
  border: none;
  margin-bottom: 0.5rem;
}
.sound-bar {
  width: 5rem;
  height: 0.1rem;
  color: white;
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: white;
}
#playlists-tab,
#artists-tab,
#albums-tab {
  display: none;
}
.playlists-list {
  display: block;
}
.artists-list,
.albums-list {
  display: none;
}
/* artist görünürse */
#artists-tab:target ~ .scroll-area .artists-list {
  display: block;
}
#artists-tab:target ~ .scroll-area .playlists-list {
  display: none;
}
#artists-tab:target ~ .scroll-area .albums-list {
  display: none;
}
/* albums görünürse */
#albums-tab:target ~ .scroll-area .albums-list {
  display: block;
}
#albums-tab:target ~ .scroll-area .artists-list {
  display: none;
}
#albums-tab:target ~ .scroll-area .playlists-list {
  display: none;
}
/* playlists görünürse */
#playlists-tab:target ~ .scroll-area .playlists-list {
  display: block;
}
#playlists-tab:target ~ .scroll-area .artists-list {
  display: none;
}
#playlists-tab:target ~ .scroll-area .albums-list {
  display: none;
}
@media (max-width: 1175px) {
  .recent {
    width: 56vw;
  }
  .recent div {
    width: 27vw;
    font-size: 1rem;
  }
  .pop,
  .metal,
  .manifest-songs,
  .rüya,
  .liked-songs,
  .candan-ercetin,
  .astrology,
  .rest {
    height: 2.5rem;
  }
  .recent img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .for-you {
    margin-top: 5rem;
  }
  .top-nav {
    justify-content: flex-start;
    align-items: center;
  }
  .top-right {
    margin-left: auto;
  }
  .create span {
    display: none;
  }
  .create {
    border: none;
    background-color: #121212;
    margin-left: 6.2rem;
  }
}
@media (max-width: 850px) {
  .pop,
  .metal,
  .manifest-songs,
  .rüya,
  .liked-songs,
  .candan-ercetin,
  .astrology,
  .rest {
    min-width: 12vw;
  }
  .recent {
    width: 31.3rem;
    height: 8.1rem;
  }
  .recent div {
    width: 14rem;
  }
  .search-bar input {
    display: none;
    transition: 1s;
  }
  .search-bar {
    width: auto;
    padding: 0;
  }
  .search-bar i {
    display: flex;
    padding: 0.6rem;
  }
  .player-bar {
    min-width: 18rem;
  }
  .left-container {
    min-width: 2rem;
    width: 5rem;
    max-width: 5rem;
  }
  .bookcase span,
  .left-nav,
  .create,
  .left-title i,
  .playlist strong,
  .playlist small,
  .upper {
    display: none;
  }
  .bookcase i {
    display: block;
    font-size: 1.5rem;
    color: #afafaf;
    margin: 1rem 1.5rem;
  }
  .playlist img {
    margin: 0;
    width: 3.1rem;
    height: 3.1rem;
  }
}
