body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}
.left-container{
    flex: 1;
    display: flex;
    background-color: #121212;
    margin: 5px;
    flex-direction: column;
    border-radius: 8px;
    min-width: 300px;
    height:650px;
}
.playlist img{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-right: 10px;
}
.playlist strong{
    display: block;
}
.playlist{
    overflow-y: auto;
    display: flex;
    color: white;
    padding: 5px 10px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}
.playlist:hover{
    background-color: #1F1F1F;
    border-radius: 5px;
}
.bookcase{
    margin: 20px;
    font-weight: bold;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}
.create{
    display: flex;
    font-weight: bold;
    margin: 15px;
    margin-left: 5vh;
    padding: 5px 15px;
    gap: 5px;
    border-radius: 30px;
    border: 1px solid #2A2A2A;
    background-color: #2A2A2A;
    cursor: pointer;
}
.create:hover{
    background-color: #434242;
}
.left-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.left-title i{
    margin-top: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.create i{
    margin-top: 2px;
    margin-right: 5px;
    display: inline;
}
.left-nav {
    display: flex;
    overflow-x: auto;
}
.left-nav::-webkit-scrollbar {
  height: 5px;
}

.left-nav::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 10px;
}
.left-nav span{
    color: white;
    display: inline-flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px solid #2A2A2A;
    background-color: #2A2A2A;
    padding: 16px 10px;
    margin: 8px 8px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}
.left-nav span:hover{
    background-color: #333333;
}
.upper{
    color: #797777;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
}
.search:hover{
    color: whitesmoke;
}
.last-stolen{
    margin: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.last-stolen:hover{
    color: whitesmoke;
}
.list{
    overflow-y: scroll;
}
.list::-webkit-scrollbar {
    width: 5px;
}
.list::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
}
.top-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}
.top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-center {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.spotify{
    color: white;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}
.home{
    color: #AFAFAF;
    border-radius: 50%;
    background-color: #2A2A2A;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.home:hover{
    background-color:#4d4d4d;
    color: whitesmoke;
}
.search-bar input{
    padding: 15px;
    color: whitesmoke;
    border: none;
    background-color: #2A2A2A;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}
.search-bar i{
    color: #AFAFAF;
    font-size: 20px;
    padding: 10px;
}
.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #2A2A2A;
    border-radius: 30px;
    background-color: #2A2A2A;
    padding: 0 10px;
    width: 450px;
    cursor: pointer;
}
.notification, .friends{
    color: #AFAFAF;
    font-size: 15px;
    cursor: pointer;
}
.notification:hover{
    color: white;
}
.friends:hover{
    color: white;
}
.profile img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.right-container{
    flex: 3;
    max-height: 650px;
    margin: 5px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    background-color: #39181F;
    overflow-y: auto;
    overflow-x: hidden;
}
.right-container::-webkit-scrollbar {
    width: 5px;
}
.right-container::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
}
.recent{
    display: flex;
    height: 130px;
    color: white;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 40px;
    flex-direction: row;
}

.pop, .metal, .manifest-songs, .rüya, 
.liked-songs, .candan-ercetin, .astrology, .rest{
    padding: 5px;
    border-radius: 5px;
    background-color: #64474D;
    border: 1px solid #64474D;
    width: 16vw;
    height: 50px;
    padding: 0;
}
.recent img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.recent div{
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
}
.category{
    display: flex;
    color: white;
    flex-direction: row;
    height: 40px;
    margin: 15px 3vw;
    gap: 1vw;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 2;
    position: sticky;
    top: 15px;
}
.category span{
    padding: 10px;
    width: 50px;
    border-radius: 20px;
    background-color: #4c3035;
    border: none;
    text-align: center;
    cursor: pointer;
}
.category span:hover{
    background-color: #64474D;
}
.category .podcast{
    width: 80px;
}
.contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recommended{
    display: flex;
    flex-direction: row;
    color: #9D9D9D;
    margin-top: 0;
    margin-left: 40px;
    font-size: 15px;
    overflow-x: auto;
    flex-wrap: nowrap;
    width: 70vw;
}
.recommended img{
    width: 170px;
    height: 170px;
    border-radius: 5px;
}
h3{
    display: inline-block;
    margin-left: 40px;
    color: white;
    width: bold;
    font-size: 25px;
    margin-bottom: 10px;
    white-space: nowrap;
}
h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.recommended div{
    width: 160px;
    height: 220px;
    cursor: pointer;
    padding: 10px;
    padding-right: 20px;
}
.recommended div:hover{
    background-color: #64474D;
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
}
.recommended::-webkit-scrollbar {
    height: 5px;
}
.recommended::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
}
.nostalgia{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 40px;
    overflow-x:auto;
    flex-wrap: nowrap;
    width: 70vw;
    font-size: 15px;
    color: #9D9D9D;
}
.nostalgia img{
    width: 170px;
    height: 170px;
    border-radius: 5px;
}
.nostalgia::-webkit-scrollbar {
    height: 5px;
}
.nostalgia::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
}
.nostalgia div{
    width: 160px;
    height: 220px;
    cursor: pointer;
    padding: 10px;
    padding-right: 20px;
}
.nostalgia div:hover{
    background-color: #64474D;
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
}
@media(max-width:1175px){
.recent{
    width: 56vw;
}
.recent div{
    width: 27vw;
    font-size: 15px;
}
.pop, .metal, .manifest-songs, .rüya, 
.liked-songs, .candan-ercetin, .astrology, .rest{
    height: 40px;
}
.recent img{
    width: 40px;
    height: 40px;
}
.for-you{
    margin-top: 80px;
}
.top-nav{
    justify-content: flex-start;
    align-items: center;
}
.top-right{
    margin-left: auto;
}
.create span{
    display: none;
}
.create{
    border: none;
    background-color: #121212;
    margin-left: 100px;
}
}
@media (max-width:850px) {
.pop, .metal, .manifest-songs, .rüya, 
.liked-songs, .candan-ercetin, .astrology, .rest{
    min-width: 12vh;
}
.recent {
    width: 500px;
    height: 130px;
}
.recent div{
    width: 225px;
}
.search-bar input{
    display: none;
    transition: 1s;
}
.search-bar{
    width: auto;
    padding: 0;
}
.search-bar i{
    display: flex;
    padding: 10px;
}
}